Package: com.yakir.soundlock
Name: SoundLock
Depends: mobilesubstrate, ws.hbang.common, firmware (>= 10.0)
Version: 1.3
Architecture: iphoneos-arm
Description: Customize various locking and unlocking sounds on your iPhone with SoundLock
Maintainer: DevelopApple
Author: DevelopApple 
Section: Tweaks
