<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string> </string>
			<key>label</key>
			<string>Choose sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>com.yakir.soundlock</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>kUnlock</string>
			<key>label</key>
			<string>Unlock Sounds</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Unlock Sounds</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Open screen sounds</string>
</dict>
</plist>
