<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<string>150</string>
			<key>icon</key>
			<string>SoundLock-Header</string>
		</dict>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>DevelopApple</string>
			<key>user</key>
			<string>DevelopApple</string>
		</dict>
		<dict>
			<key>PostNotifcation</key>
			<string>com.yakir.soundlock-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yakir.soundlock</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SoundLockLockListController</string>
			<key>label</key>
			<string>Screen lock sounds</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SoundLockUnlockListController</string>
			<key>label</key>
            <string>Open screen sounds</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SoundLockLSCodeListController</string>
			<key>label</key>
			<string>Passcode key sounds</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>SoundLockRespringListController</string>
            <key>label</key>
            <string>Respring sounds</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>To apply changes please respring.</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>/Library/Application Support/SoundLock/paypal.png</string>
			<key>label</key>
			<string>Donate me</string>
			<key>url</key>
			<string>https://www.paypal.me/developapple</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SoundLockCreditListController</string>
			<key>label</key>
			<string>Credit</string>
		</dict>
	</array>
	<key>title</key>
	<string>SoundLock</string>
</dict>
</plist>
